.active {
  backdrop-filter: blur(10px);
}

nav {
  position: sticky;
  top: 10px;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(10px);
  margin: auto;
  margin-left: 1rem;
  border-radius: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  display: block;
  text-decoration: none;
  margin: 0.5rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f39f5a;
  border-radius: 10px;
}
